@font-face {
	font-family: usedfont;
	src: url(../fonts/3NRg5Zor.ttf), url(../fonts/3NRg5Zor.eot);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	display: table;
	min-height: 450px;
}

header, footer {
	height: 40px;
	background: url(../img/background-out.png) repeat-y;
	background-size: 100% 3px;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

aside {
	position: fixed;
	top: 40px;
	right: 235px;
	bottom: 40px;
	left: 0;
	width: 235px;
	background: url(../img/background-out.png) repeat-y;
	background-size: 100% 3px;
	overflow: auto;
	animation-name: closea;
	animation-duration: 1s;
}

body.expanded aside {
	width: 50px;
	animation-name: expanda;
	animation-duration: 1s;
}

main {
	position: fixed;
	background: url(../img/background-zone.gif);
	top: 40px;
	right: 0;
	bottom: 40px;
	left: 235px;
	animation-name: close;
	animation-duration: 1s;
}

body.expanded main {
	left: 50px;
	animation-name: expand;
	animation-duration: 1s;
}

body.expanded aside > *:not(.visiblity) {
	display: none;
}

@keyframes expand {
	0% {left: 235px;}
	100% {left: 50px;}
}

@keyframes expanda {
	0% {width: 235px;}
	100% {width: 50px;}
}

@keyframes close {
	0% {left: 50px;}
	100% {left: 235px;}
}

@keyframes closea {
	0% {width: 50px;}
	100% {width: 235px;}
}

.visiblity {
	height: 28px;
	padding: 1px 0;
}

#slidebtn {
	width: 27px;
	height: 100%;
	margin: 0 10px 0 auto;
	background: url(../img/buttons.png) -404px -4px;
}

#slidebtn:hover {
	background-position: -458px -4px;
	cursor: pointer;
}

#slidebtn:active {
	background-position: -457px -4px;
}

body.expanded #slidebtn {
	background-position: -430px -4px;
}

body.expanded #slidebtn:hover {
	background-position: -489px -4px;
}

body.expanded #slidebtn:active {
	background-position: -490px -4px;
}

.ballstore {
	display: table;
	width: 100%;
	height: 270px;
}

.col {
	display: table-cell;
	width: 50%;
	height: 100%;
}

.cell {
	position: relative;
	height: 33%;
	background: url(../img/set.png) no-repeat 50% 50%;
}

.two {
	background-size: 76px 76px;
}

.tree {
	background-size: 69px 69px;
}

.four {
	background-size: 60px 60px;
}

.five {
	background-size: 51px 51px;
}

.six {
	background-size: 44px 44px;
}

.rullers {
	margin-top: 5px;
}

.check {
	width: 200px;
	margin: auto;
}

label {
	display: block;
	height: 21px;
	width: 100%;
	background: black;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	font-family: usedfont;
	font-size: 21px;
	text-transform: uppercase;
	color: #00363c;
	line-height: 100%;
	text-align: center;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + label{
	color: #00e6ec;
}

.ballstore img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	animation-name: appearense;
	animation-duration: 0.5s;
}

@keyframes appearense {
	0% {transform: scale(0, 0);}
	100% {transform: scale(1, 1);}
}

.draggable {
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	-ms-user-drag: element;
	cursor: move;
}

.draggable:active {
	cursor: no-drop;
}

.btn {
	width: 203px;
	height: 39px;
	margin: 10px auto;
	background: url(../img/buttons.png) 2px 0;
	cursor: pointer;
	border-radius: 25px;
	font-family: usedfont;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	line-height: 39px;
}

.btn:active {
	background-position: -200px 0;
}

footer {
	display: table;
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

footer > div {
	display: table-cell;
	vertical-align: top;
}

footer > div:first-child {
	width: 235px;
}

footer > div:last-child {
	position: relative;
	width: 150px;
}

footer > div:nth-child(2) {
	position: relative;
	padding: 0 20px;
}

.guide {
	height: 4px;
	background: #ccc;
	background: linear-gradient(to bottom, rgba(249, 249, 249, 0.5), rgba(52, 56, 57, 0));
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-radius: 3px;
	position: relative;
	top: 18px;
}

.slider {
	width: 4px;
	height: 13px;
	background: #ccc;
	background: linear-gradient(to bottom, white, #333);
	border: 1px solid #333;
	border-top: 1px solid black;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	position: relative;
	top: -35px;
	margin: auto;
}

.center {
	width: 2px;
	height: 30px;
	background: black;
	position: relative;
	top: -10px;
	left: 1px;
	margin: auto;
}

footer > div > .check, .gvalue {
	position: relative;
	top: 7px;
}

.gvalue {
	display: inline-block;
	width: 70px;
	height: 21px;
	font-size: 21px;
	text-transform: uppercase;
	text-align: right;
	color: #00363c;
	line-height: 21px;
	background: black;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 30px;
}

.cover {
	/*display: none;*/
	background: rgba(10,10,10,0.2);
	position: absolute;
	height: 40px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}